<div class="header-row">
	<input type="text" class="borderless character-name" name="name" value="{{actor.name}}" title="Character Name" placeholder="Character Name" {{#if actor.system.locked}} disabled {{/if}}>
</div>
<div class="essence-block">
	{{#if actor.essence}}
	<div class="flexrow">
		<div class="{{#if actor.isEssenceBurned}} burned shaded {{/if}}">
			<div class="name"> {{actor.essence.displayedName}}
			</div>
			<div class="description">
				{{localizeS actor.essence.description}}
			</div>
		</div>
		<div class="burn-box">
			{{#if actor.isEssenceBurned}}
			<a class="essence-unburn"><i class="fas fa-undo"></i> </a>
			{{else}}
			<a class="essence-burn" > <i class="fas fa-fire"></i> </a>
			{{/if}}
		</div>
	</div>
	{{else}}
	<label>
		{{localize "Otherscape.terms.essence"}}
	</label>
	<div class="no-essence">
		{{localize "Otherscape.message.noEssenceSelected"}}
	</div>
	{{/if}}

</div>
<div class="header-row">
	<input type="text" class="borderless short-description" name="system.short_description" value="{{actor.system.short_description}}" placeholder="{{localize 'CityOfMist.terms.short_desc' }}" title=" {{localize 'CityOfMist.terms.short_desc' }}" {{#if actor.system.locked}} disabled {{/if}}>
</div>


