<li class="directory-item document {{@root.documentCls}} flexrow" data-document-id="{{this.id}}">
  {{#if this.thumbnail}}
  <img class="thumbnail" title="{{this.directoryName}}" data-src="{{this.thumbnail}}"/>
  {{/if}}
  <h4 class="document-name"><a>{{this.directoryName}}</a></h4>
</li>

