<div class="pc-downtime-selector">
	<div class="header">
		{{localize "CityOfMist.dialog.pcdowntime.title"}} {{actor.displayedName}}
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="os-heal">
		<label for="os-heal">
			{{localize "Otherscape.moves.downtime.0"}}
		</label>
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="os-prepare">
		<label for="os-prepare">
			{{localize "Otherscape.moves.downtime.1"}}
		</label>
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="os-quality">
		<label for="os-quality">
			{{localize "Otherscape.moves.downtime.2"}}
		</label>
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="os-research">
		<label for="os-research">
			{{localize "Otherscape.moves.downtime.3"}}
		</label>
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="os-theme">
		<label for="os-theme">
			{{localize "Otherscape.moves.downtime.4"}}
		</label>
	</div>
</div>

