<div class="purpose"> {{localize "CityOfMist.dialog.tagReview.purpose"}} </div>
<div class="move-name">
	{{actor.displayedName}}  - {{move.displayedName}}
</div>
<hr><br>
<div class="flex-row">
	<div class="selected-list">
		<div class="center-label">
			Selected Items
		</div>
		{{#each tagAndStatusList as |item|}}
		<div class="flex-row-center" data-item-id="{{item.item.id}}" data-owner-id="{{item.item.parent.id}}">
			<div class=" {{#if (gt amount 0)}} positive-selected {{else}} negative-selected {{/if}}">
				{{> "systems/city-of-mist/templates/parts/tag-or-status-name.hbs" item=item.item sheetowner=null locked=true}}
			</div>
			<div class= "review-icons">
				<a class="item-control approved {{#if (eq item.review 'approved')}} active {{/if}}" title="{{localize 'CityOfMist.dialog.tagReview.approve'}}"><i class="fas fa-check"></i></a>
				<a class="item-control request-clarification {{#if (eq item.review 'challenged')}} active {{/if}}" title="{{localize 'CityOfMist.dialog.tagReview.requestClarification'}}"><i class="fas fa-question"></i></a>
				<a class="item-control rejected {{#if (eq item.review 'rejected')}} active {{/if}}" title="{{localize 'CityOfMist.dialog.tagReview.reject'}}"><i class="fas fa-cancel"></i></a>
			</div>
		</div>
		{{/each}}
	</div>
	<div class="suggestion-list item-selection-context">
		<div class="center-label">
			Suggestions
		</div>
		{{#each suggestions as |item| }}
		<div class="flex-row-center" data-item-id="{{item.id}}" data-owner-id="{{item.parent.id}}" data-token-id="{{item.parent.tokenId}}">
			{{> "systems/city-of-mist/templates/parts/tag-or-status-name.hbs" item=item sheetowner=null locked=true}}
		</div>
		{{/each}}
	</div>
</div>
