<div class="dice-tooltip city-die-tooltip city-roll" data-move-id="{{moveId}}" data-modifiers="{{modifiersString}}" data-template-data="{{tdataString}}">
	<div class="actor-name"> {{actorName}} </div>
	<div class="move-name"> {{moveName}} </div>
	<hr>
	{{#if (ne options.noRoll true)}}
		<section class="roll-block">
			<ol class="dice-rolls">
				{{#if (eq options.setRoll 0)}}
					{{#each this.rolls}}
						{{#if this.result}}
							<li class="roll die d6">{{{this.result}}}</li>
						{{else}}
							<li class="roll die d6">{{{this.roll}}}</li>
						{{/if}}
					{{/each}}
				{{else}}
					<li class="roll die d6"> {{options.setRoll}} </li>
				{{/if}}
			</ol>
			<ul class="roll-modifiers">
				{{#each modifiers as |modifier id|}}
					<li>
						{{modifier.name}} {{#if (gt modifier.amount 0)}} +{{/if}}{{modifier.amount}}
						{{#if (eq modifier.type "tag")}}
							{{#if (lt modifier.amount 0)}}
								{{#if (eq modifier.subtype "weakness")}}
									{{#if (eq ../options.autoAttention true)}}
										<span class="attention-award">
											({{localize "CityOfMist.message.attentionAwarded"}})
										</span>
									{{else}}
										<span class="attention-award">
											({{localize "CityOfMist.message.attentionManual"}})
										</span>
									{{/if}}
								{{/if}}
							{{/if}}
						{{/if}}
					</li>
				{{/each}}
			</ul>
			<div class="roll-total"> {{total}}
				<a class="edit-roll" title="Edit Roll"><i class="fas fa-eraser"></i></a>
			</div>
		</section>
		<hr>
	{{/if}}
	<div class="move-text"> {{moveText}} </div>
	<ul class="move-list">
		{{#each moveList as |li id|}}
			{{#if (ne li.cost 0)}}
				<li class="move-list-item {{#if li.checked}} selected{{/if}}">
					<input class="roll-selector-checkbox" type="checkbox" {{#if li.checked}} checked {{/if}} data-listitem="{{li.text}}" data-itemcost="{{li.cost}}">
				{{else}}
					<li class="move-list-bullets">
					{{/if}}
					{{li.text}} </li>
				{{/each}}
	</ul>
	<hr>
</div>

