<li class="directory-item entry document {{ @root.documentCls }} flexrow" data-entry-id="{{ id }}"
    data-document-id="{{ id }}">
    {{#if thumbnail}}
    <img class="thumbnail" title="{{directoryName}}" src="{{ thumbnail }}" alt="{{ name }}" loading="lazy">
    {{/if}}
    <a class="entry-name ellipsis" data-action="activateEntry">{{ directoryName }}</a>
</li>