<div class="clue-reveal" data-actor-id="{{actorId}}" data-question="{{question}}" data-answer="{{answer}}" data-partial-clue="{{partial_clue}}" data-meta-source="{{metaSource}}" data-method="{{method}}" data-source="{{source}}">
	<h1 class="header">
		Clue
	</h1>
	{{#if banked}}
		<h1> BANKED </h1>
	{{else}}
		<div class="gm-only partial-clue">
			<label> Partial Clue </label>
			<input type="checkbox" class="partial-clue" {{#if partial_clue}} checked{{/if}}>
		</div>
		<div class="player-only partial-clue">
			{{#if partial_clue}} Partial Clue {{/if}}
		</div>
		<section class="question-part">
			{{#if question}}
				<div class="question-block">
					<span class="header"> Question: </span>
					<span class="text">{{question}}</span>
				</div>
			{{else}}
				<textarea class="player-only question-input">{{partial_clue_text}}</textarea>
				<button class="player-only submit-button">
					Ask Question
				</button>
				<button class="player-only bank-button">
					Bank Clue
				</button>
				<div class="gm-only waiting-msg"> Waiting for Player </div>
				<div class="gm-only waiting-msg">
					<img class="gm-only waiting-msg" src="systems/city-of-mist/images/loading.gif" height=100 width=100>
				</div>
			{{/if}}
		</section>
		{{#if question}}
			<section class="answer-part">
				{{#if answer}}
					<div class="answer-block">
						<span class="header"> Answer: </span>
						<span class="text">{{answer}}</span>
					</div>
					<button class="gm-only edit-button">
						Edit
					</button>
					<button class="player-only add-to-journal-button">
						Add to Journal
					</button>
				{{else}}
					<textarea class="gm-only answer-input">{{partial_answer_text}}</textarea>
					<button class="gm-only submit-button">
						Submit
					</button>
					<div class="player-only waiting-msg"> Waiting for MC to answer </div>
					<div class="player-only waiting-msg">
						<img class="player-only waiting-msg" src="systems/city-of-mist/images/loading.gif" height=100 width=100>
					</div>
				{{/if}}
			</section>
		{{/if}}
	{{/if}}
</div>
