<div>
	<span>
		{{actor.displayedName}}
	</span>
	<span>
		{{localize "CityOfMist.chatmessage.clue.use"}}
	</span>
</div>
<hr>
<div>
	<div>
		{{clue.displayedName}}
	</div>
	<div>
		<span>
			{{localize "CityOfMist.terms.clueMethod"}}:
		</span>
		<span>
			{{clue.system.method}}
		</span>
	</div>
	<div>
		<span>
			{{localize "CityOfMist.terms.clueSource"}}:
		</span>
		<span>
			{{clue.system.source}}
		</span>
	</div>
</div>
