<div class="loadout-theme theme-block" id="theme-id-{{id}}" data-theme-id="{{theme.id}}" data-owner-id="{{actor.id}}" data-token-id="{{tokenId}}">
	<h2 class="header">
		{{getLoadoutThemeName}}
			<a class="theme-create-power-tag" data-item-type="tag" title="Add Power Tag" data-sub-type="power" > <i class="fas fa-bolt"></i></a>
			<a class="theme-create-weakness-tag" data-item-type="tag" data-sub-type="weakness" title="Add Weakness Tag" > <i class="fas fa-anchor" ></i></a>

	</h2>

</div>

