<!--
	"status": status passed in
	"sheetowner": one who owsn this character sheet (null if no owner)
	"locked": boolean
-->

<div class="status-line status" data-status-id="{{status.id}}" data-owner-id="{{../owner.id}}" data-tier="{{status.system.tier}}" data-status-name="{{status.name}}" data-token-id="{{status._tokenId}}" data-scene-Id="{{status._sceneId}}">
	<div class="flextiny">
		{{#if (eq owner sheetowner)}}
		<a class="item-control status-delete" title="Delete Status"><i class="fas fa-trash"></i></a>
		{{/if}}
	</div>
	{{> "systems/city-of-mist/templates/parts/status-name.hbs" status=status sheetowner=sheetowner owner=status.parent locked=locked}}
	{{#if (or (isGM) (eq owner sheetowner)) }}
	<div class="plus-minus flextiny">
		<a class="item-control status-add" title="Add to Status"><i class="fas fa-plus"></i></a>
		<a class="item-control status-subtract" title="Subtract from Status"><i class="fas fa-minus"></i></a>
	</div>
	{{/if}}

	</div>

