<!--
	"status": status passed in
	"locked": boolean
-->

<div class="flexlarge status-name-block" data-status-id="{{status.id}}" data-owner-id="{{status.parent.id}}" data-tier="{{status.system.tier}}" data-token-id="{{status.parent.tokenId}}" data-scene-id="{{status.parent.sceneId}}" >
	<a title="Status"> <i class="fas fa-life-ring"></i></a>
	{{#if  status.system.temporary}}
	<a title="Temporary Status" ><i class="fas fa-hourglass"></i> </a>
	{{/if}}
	{{#if  status.system.permanent}}
	<a title="Permanent Status" ><i class="fas fa-square"></i> </a>
	{{/if}}
	<span class="status-name name
		{{#if locked}} status-select-button
		{{else}} status-edit-button
		{{/if}}
		{{#if (eq (getDirection status) 1)}}
		positive-selected
		{{/if}}
		{{#if (eq (getDirection status) -1)}}
		negative-selected
		{{/if}}
		{{#if (gt status.system.pips 0)}}
		status-with-pips
		{{/if}}"
		title="{{#if (gt status.system.pips 0)}} {{status.system.pips}} pips {{/if}}">
		{{status.name}}-{{status.system.tier}}
	</span>
</div>

