<div class="pc-downtime-selector">
	<div class="header">
		{{localize "CityOfMist.dialog.pcdowntime.title"}} {{actor.displayedName}}
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="logos">
		<label for="logos">
			{{localize "CityOfMist.moves.downtime.0"}}
		</label>
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="workcase">
		<label for="workcase">
			{{localize "CityOfMist.moves.downtime.1"}}
		</label>
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="mythos">
		<label for="mythos">
			{{localize "CityOfMist.moves.downtime.2"}}
		</label>
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="unburn">
		<label for="unburn">
			{{localize "CityOfMist.dialog.downtime.unburn"}}
		</label>
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="juice">
		<label for="juice">
			{{localize "CityOfMist.dialog.downtime.juice"}}
		</label>
	</div>
	<div class="move-text">
		<input type="radio" class="downtime-radio" name="downtime-action" value="recover">
		<label for="recover">
			{{localize "CityOfMist.moves.downtime.4"}}
		</label>
	</div>
</div>
